@import url('https://fonts.googleapis.com/css2? family= Bree+Serif & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* body{
    font-family: 'Bree Serif', serif;
    font-family: 'Averia Serif Libre', cursive;
} */

/* Navbar */
.nav-item .nav-link{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Bree Serif', serif;
	font-size: 18px;
    font-weight: bold;
}

/* .nav-item .nav-link-active:hover{
	background: #3E3225;
	border-radius: 5px;
} */

.scroll-nav-active{
	background-color: white;
	box-shadow: 1px 1px 11px -1px rgba(1,1,1,0.08);
}

/* button login */
.btn-danger{
	background-color: #bd0001;
	border-radius: 10px;
	border-color: #bd0001;
    padding: 10px 46px;
    color: white;
    font-family: 'Averia Serif Libre', cursive;

}

#hero {
    background-image: url('../images/il-photo-02.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-title{
    padding-top: 200px;
}

.hero-title h1{
    font-family: 'Averia Serif Libre', cursive;
	font-size: 48px;
	font-weight: 600;
	-ms-text-shadow:7px 7px 6px rgba(0,0,0,0.25);
	-o-text-shadow:7px 7px 6px rgba(0,0,0,0.25);
	-webkit-text-shadow:7px 7px 6px rgba(0,0,0,0.25);
	-moz-text-shadow:7px 7px 6px rgba(0,0,0,0.25);
	text-shadow:7px 7px 6px rgba(0,0,0,0.25);
	color:#3E3225;
}

.hero-title h5{
	font-family: Averia Serif Libre;
	font-size: 20px;
	color:#3E3225;
}

/* responsif layar 450*/
/* @media screen and (min-width: 450px) {
	.hero-title h1{
	font-family: Averia Serif Libre;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	-ms-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	color:#3E3225;
	}
	.hero-title h5{
		font-family: Averia Serif Libre;
		font-size: 18px;
		color:#3E3225;
	}
} */

/* responsif layar  550*/
/* @media screen and (min-width: 550px) {
	.hero-title h1{
	font-family: Averia Serif Libre;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	-ms-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	color:#3E3225;
	}
	.hero-title h5{
		font-family: Averia Serif Libre;
		font-size: 18px;
		color:#3E3225;
	}
} */

/* responsif layar  800*/
/* @media screen and (min-width: 800px) {
	.hero-title h1{
	font-family: Averia Serif Libre;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	-ms-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	color:#3E3225;
	}
	.hero-title h5{
		font-family: Averia Serif Libre;
		font-size: 18px;
		color:#3E3225;
	}
} */

/* penawaran program */
.card{
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #9e6333;
	-ms-box-shadow:4px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:4px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:4px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:4px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:4px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}

.card-body h5{
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	color:#D58F3D;
}

/* page beranda sekilas galeri tentang */

/* sekilas info */
.stripe{
	height: 5px;
	width: 40px;
	background-color: #EF9344;
}

/* ---------------------informasi paten ------------------------ */
h2{
	overflow: hidden;
	font-family: Averia Serif Libre;
	font-size: 30px;
	/* -ms-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	text-shadow:5px 5px 4px rgba(0,0,0,0.25); */
	color:#924224;
}

h3{
	overflow: hidden;
	font-family: Averia Serif Libre;
	font-size: 24px;
	text-align: left;
	-ms-text-shadow:3px 3px 2px rgba(0,0,0,0.25);
	-o-text-shadow:3px 3px 2px rgba(0,0,0,0.25);
	-webkit-text-shadow:3px 3px 2px rgba(0,0,0,0.25);
	-moz-text-shadow:3px 3px 2px rgba(0,0,0,0.25);
	text-shadow:3px 3px 2px rgba(0,0,0,0.25);
	color:#924224;
}

h4{
	overflow: hidden;
	font-family: Averia Serif Libre;
	font-size: 20px;
	text-align: left;
	color:#3E3225;
}

h5{
	font-family: Averia Serif Libre;
	font-size: 18px;
	color:#3E3225;
}

p{
	overflow: hidden;
	font-family: Averia Serif Libre;
	font-size: 14px;
	text-align: left;
	color:#3E3225;
}

/* paralax background */
.section-foto{
background-attachment: fixed;
background-position: top;
background-size: cover;
height: 400px;
width: 100%;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
/* ---------------------informasi paten ------------------------ */

/* berita*/

/* galeri */
#galeri{
	margin-top: 50px;
}

/* Tambahkan media query untuk responsif sesuai dengan kebutuhan Anda */

/* video */
#video{
	background-image: url("../images/il-bg-tentang.svg");
}

/* cara pembayaran */
#cara-pembayaran{
	background-image: url("../images/il-bg-tentang1.png");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tatacara-pembayaran h2{
	overflow: hidden;
	-ms-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	text-shadow:5px 5px 4px rgba(0,0,0,0.25);
	color:#FFFFFF;
}

.card-info{
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(255,255,255,0.7);
	margin-top: 20px;
	padding-top: 10px;
}

.card-info:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.card-info p{
	overflow: hidden;
	font-family: Averia Serif Libre;
	font-size: 14px;
	color:#924224;
}

/* tim */

#tim{
  padding-top: 30px;
  margin-top: 40px;
}
.container-tim
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container-tim .card-tim
{
   width: 250px;
   height: 300px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container-tim .card-tim .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container-tim .card-tim .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
}
.container-tim .card-tim .content .imgBx img
{
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container-tim .card-tim .content .contentBx h4
{
   text-align: center;
   font-size: 16px;
}
.container-tim .card-tim .content .contentBx h5
{
   color: #6c758f;
   font-size: 14px;
   text-align: center;
}
.container-tim .card-tim .content .sci
{
   margin-top: 5px;
}
.container-tim .card-tim .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   margin: 5px;
   transition: color 0.4s;
}
.container-tim .card-tim .content .sci a:hover
{
   color: #924224;
}


/* footer */
footer{
font-family: 'Bree Serif', serif;
  background: #3E3225;
  /* background: #3E3225; */
}
.main-content{
  display: flex;
margin-top: 40px;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}
.text{
	color: #ffffff;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #ffffff;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color: #ffffff;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #3E3225;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #ffffff;
  color: #3E3225;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #3E3225;
  color: #ffffff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
	background: #ffffff;
	color: #3E3225;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff9f9;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #000000;
}
.right form input{
  height: 35px;
}

.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: #ffffff;
}
.right form .btn button:hover{
  background: #ffffff;
  color: #f12020;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #924224;
  color: #ffffff;
}

.bottom center a{
  color: #ffffff;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}